asgiref==3.8.1
Django>=5.1.2
sqlparse==0.5.1
typing_extensions==4.12.2
ShopifyAPI==12.7.0
django-autoslug==1.9.9
django-filter==24.3
gunicorn==23.0.0
pillow==11.1.0
psycopg==3.2.4
python-lorem==1.3.0.post3
six~=1.17.0
django-nested-admin==4.1.1
requests==2.32.3
django-htmx==1.21.0
django-storages==1.14.4
boto3==1.35.95
botocore==1.35.95