{% extends 'base.html' %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block extra_stylesheet %}
    <link rel="stylesheet" href={% static "gallery/style.css" %}>
{% endblock %}

{% block content %}
    <div class="flex flex-left" style="padding: 56px">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <img class="key round-xxlarge" src="{{ project.get_key_image.image.url }}"
             alt="{{ project.get_key_image.description }}">
        <div class="item-details flex">
            <h1>{{ project.name }}</h1>
            <hr><h6>{{ project.description }}</h6>
        </div>
    </div>

    <!--<div class="carousel-container">
        {% for img in project.get_images %}
            <img class="carousel round-xlarge" src="{{ img.image.url }}" alt="{{ img.description }}">
        {% endfor %}
    </div>-->

{% endblock %}