{% extends 'gallery/base_gallery.html' %}
{% load static %}

{% block title %}{{ product.name }} | {{ SITE_NAME }}{% endblock %}
{% block meta_description %}}{{ product.description }}{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "gallery/style.css" %}>
    <style>
    html, body {
        background-color: rgba(var(--tertiary-color), 0.4);
        color: silver;
    }
    .bar {
        background-color: rgba(var(--tertiary-color), 0.6);
        color: #000000;
    }
    .bar:hover { opacity: 1 !important; }
    </style>
{% endblock style %}

{% block content %}
    <div class="flex flex-left no-wrap" style="padding: 56px">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <img class="featured round-xxlarge" src="{{ product.get_feature_image.image.url }}"
             alt="{{ product.get_feature_image.description }}">
        <div class="item">
            <h1>{{ product.name }}</h1>
            <hr><h6>
            {% if product.shopify_sync and product.shopify_status == 'ACTIVE' %}
            <a href="{{ product.get_shop_url }}"><i>Available!</i></a>
            {% endif %}{{ product.description }}</h6>
        </div>
    </div>

    <div class="carousel-container">
        {% for img in product.get_images %}
            <img class="carousel round-xlarge" src="{{ img.image.url }}" alt="{{ img.description }}">
        {% endfor %}
    </div>

{% endblock %}