{% extends 'gallery/base_gallery.html' %}
{% load static %}

{% block title %}
    Gallery
{% endblock title %}

{% block meta_description %}
    Marnie's collection of handmade pottery pieces, by Pottery By Marnie
{% endblock meta_description %}

{% block parallax %}
    <div id="parallax" class="bgimg-2 display-container opacity-min">
        <div class="display-topthirdmiddle">
            <span class="center padding-large black xxlarge letter-wide animate-opacity">GALLERY</span>
        </div>
    </div>v
{% endblock parallax %}

{% block content %}
    <div id="portfolio" class="content container padding-64">
      <h3 class="center">MY WORK</h3>
      <p class="center"><em>Here is some of my latest work.<br> Click a project to view in more detail.</em></p><br>
        {% include 'gallery/product-carousel.html' %}
    </div>
{% endblock content %}