{% extends 'gallery/base_gallery.html' %}
{% load static %}

{% block title %}
    Marnie's Gallery
{% endblock title %}

{% block meta_description %}
    Marnie's collection of handmade pottery pieces, by Pottery By Marnie
{% endblock meta_description %}

{% block parallax %}
    <section id="parallax" class="bgimg-2 display-container opacity-min">
        <div class="center" style="transform: translate(0vw, 20vh);">
            <span class="center padding-large black xxlarge letter-wide animate-opacity">GALLERY</span>
            <p class="center"><em>Here is some of my latest work.<br> Click a project to view in more detail.</em></p><br>
        </div>
    </section>
{% endblock parallax %}

{% block content %}
    <section id="filter-selection" class="flex flex-left">
        <h3>Filter by Category</h3>
        {% for category in categories %}
            <button type="button"
                    hx-target="#Gallery"
                    hx-swap="innerHTML"
                    hx-get='{% url "gallery:carousel-filter" category.name %}'>
                {{ category.name }}
            </button>
        {% endfor %}
    </section>

    <section id="Gallery">
        {% include 'gallery/product-carousel.html' %}
    </section>
{% endblock content %}