<section id="product-carousel" class="carousel center">
{% if products %}
    {% for product in products %}
        <section id='{{ product.name }}' class="item-container">
        {% with category=product.category.first.name slug=product.slug img=product.get_feature_image %}
        <div class="item-img">
            <a href="{% url 'gallery:product-detail' category slug %}">
                <img class="round-large" src="{{ img.image.url }}" alt="{{ img.description }}">
            </a>
        </div>
        <div class="item-cap">
            <h4 class="no-marg">{{ product.name }}</h4>
            <p class="no-marg">{{ category }}</p>
        </div>
        {% endwith %}
        </section>
    {% endfor %}
{% else %}
    <h2 style="padding-left: 20%">Uh oh... there are no products available to view.</h2>
    <h3 style="padding-left: 30%">Please check back soon!</h3>
{% endif %}
</section>