SITE_NAME=sitename

DJANGO_SECRET_KEY=secretkey
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1

CSRF_TRUSTED_ORIGINS=http://localhost, http://127.0.0.1
CSRF_COOKIE_SECURE=False

SHOPIFY_API_KEY=api_key
SHOPIFY_API_SECRET=api_secret
SHOPIFY_URL=shop_url
SHOPIFY_API_VERSION=api_version
SHOPIFY_API_SCOPES=scope1, scope2, scope3, etc.