SITE_NAME=sitename

SERVER_IMAGE_TAG=vx.x.x                                     # [required]
DB_IMAGE_TAG=16.4                                           # [required]
PROXY_IMAGE_TAG=x.x.x                                       # [required]

DJANGO_LOG_LEVEL=DEBUG                                      # [optional] defaults to INFO
DJANGO_SECRET_KEY=secretkey                                 # [required for Production]
DJANGO_DEBUG=True                                           # [required for Production] Must be False in Production
DJANGO_ALLOWED_HOSTS=localhost, yourdomain.com              # [required for Production]

CSRF_TRUSTED_ORIGINS=http://localhost, https://localhost, http://yourdomain.com, https://yourdomain.com
CSRF_COOKIE_SECURE=False                                    # use True in production environment

SHOPIFY_API_KEY=api_key                                     # [required]
SHOPIFY_API_SECRET=api_secret                               # [required]
SHOPIFY_API_VERSION=api_version                             # [optional] defaults to most recent released offset by 30 days
SHOPIFY_API_SCOPES=scope1, scope2, scope3, etc.             # [optional] required if not specified in app's TOML file

SHOPIFY_DOMAIN=ab1234-cd                                    # [required] randomized shop name (e.g. 'ab1234-cd')
SHOPIFY_APP_URL=https://sub.yourdomain.com                  # [optional] defaults to {{ shop }}.myshopify.com

SHOPIFY_ONLINE_PUB_ID=gid://shopify/Publications/123456789  # [required]
SHOPIFY_ONLINE_PUB_ID=gid://shopify/Publications/123456789  # [required]

CLOUDFLARE_R2_BUCKET=your_bucket_name                       # [required]
CLOUDFLARE_R2_ENDPOINT=your_endpoint_url                    # [required]
CLOUDFLARE_R2_DEFAULT_LOCATION=file_path_prefix             # [optional] defaults to 'media'
CLOUDFLARE_R2_static_LOCATION=file_path_prefix              # [optional] defaults to 'static'
CLOUDFLARE_R2_ACCESS_KEY=your_access_key                    # [required]
CLOUDFLARE_R2_SECRET_KEY=your_secret_key                    # [required]
