SITE_NAME=sitename

SERVER_IMAGE_TAG=x.x.x
DB_IMAGE_TAG=16.4
PROXY_IMAGE_TAG=x.x.x

DJANGO_SECRET_KEY=secretkey
DJANGO_DEBUG=True                                   # use False in production environment
DJANGO_ALLOWED_HOSTS=localhost, yourdomain.com

CSRF_TRUSTED_ORIGINS=http://localhost, https://localhost, http://yourdomain.com, https://yourdomain.com
CSRF_COOKIE_SECURE=False                            # use True in production environment

SHOPIFY_API_KEY=api_key
SHOPIFY_API_SECRET=api_secret
SHOPIFY_URL=shop_url
SHOPIFY_API_VERSION=api_version
SHOPIFY_API_SCOPES=scope1, scope2, scope3, etc.
SHOPIFY_ONLINE_PUB_ID=gid//example
SHOPIFY_ONLINE_PUB_ID=gid//example