li a {
    color: green;
}

h1, h2, h3, h4, h5, h6, body, p, main {
    font-family: "Segoe UI", system-ui, sans-serif;
}

body, html {
    height: 100%;
    margin: auto;
}

/* Parallax */
.bgimg-1, .bgimg-2, .bgimg-3 {
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
    h1 { font-size: 3.0vw; }
    h2 { font-size: 2.5vw; }
    h3 { font-size: 2.0vw; }
    h4 { font-size: 1.5vw; }
    h5 { font-size: 1.25vw;}
    h6 { font-size: 1.0vw; }

    .flex.no-wrap {
        flex-wrap: wrap;
    }
}

img.carousel {
    max-width: 22vw;
    padding: 0.3vw;
}

.carousel-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0 5%;
    padding-bottom: 10vh;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    /* gap: 15px; */
}

.flex.no-wrap {
    flex-wrap: nowrap;
}

.center { justify-content: center; }
.flex-left { justify-content: flex-start; }
.flex-right { justify-content: flex-end; }



