.bgimg-2 {
    background-image: url("images/multiple-items.png");
}

img.key {
    margin: auto;
    max-height: 60vh;
    max-width: 100vw;
    padding-right: 1vw;
}

.item-details {
    max-width: 60vw;
    flex-direction: column;
    margin: auto;
}

@media only screen and (max-device-width: 800px) {
    img.key {
        margin: auto;
        max-height: 80vh;
        max-width: 90vw;
    }
    .flex-left {
        justify-content: center;
    }
}


.container::before {}