<section id="product-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody id='product-body'
               hx-confirm="Are you sure?"
               hx-target="closest tr"
               hx-swap="outerHTML">
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.status }}</td>
                <td>
                    <button type="button" hx-delete='{% url "store:delete" product.id %}'>
                        Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>