{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% block favicon %}{% static "main/images/favicon.ico" %}{% endblock %}">
    {% block style %}
        <link rel="stylesheet" href={% static "css/w3.css" %}>
        <link rel="stylesheet" href={% static "css/core.css" %}>
    {% endblock style %}
    {% block head-scripts %}
        <script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <!--<script src="//unpkg.com/alpinejs" defer></script>--->
        <script src="{% static 'js/intersect.min.js' %}"></script>
        <script src="{% static "js/alpine.min.js" %}" defer></script>
        <!--<script src="//unpkg.com/htmx.org@2.0.4" defer integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>-->
    {% endblock head-scripts %}
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" property="og:description" content="{% block meta_description %}{{ SITE_DESCRIPTION }}{% endblock %}">
    <meta name="keywords" content="seo, pottery, marnie, potterybymarnie, ceramics, clay, handmade, glaze, syracuse, cny">
</head>
<body class="background"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block header %}{% include 'header.html' %}{% endblock %}

    <main id="main">
        {% block parallax %}{% endblock %}
        {% block messages %}{% endblock %}
        {% block content %}{% endblock %}
    </main>

    {% block footer %}{% include 'footer.html' %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
