{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% block favicon %}{% static "main/images/favicon.ico" %}{% endblock %}">
    {% block style %}
        <link rel="stylesheet" href={% static "w3.css" %}>
        <link rel="stylesheet" href={% static "core.css" %}>
    {% endblock style %}
    <script src="https://kit.fontawesome.com/626fde7ac4.js" crossorigin="anonymous"></script>
    <!--<script src="{% static 'htmx.min.js' %}" defer></script>-->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <!--<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">-->
    <meta name="description" property="og:description" content="{% block meta_description %}{{ SITE_DESCRIPTION }}{% endblock %}">
    <meta name="keywords" content="seo, pottery, marnie, potterybymarnie, ceramics, clay, handmade, glaze, syracuse, cny">
</head>
<body class="background"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block header %}{% include 'header.html' %}{% endblock %}

    <main id="main">
        {% block parallax %}{% endblock %}
        {% block messages %}{% endblock %}
        {% block content %}{% endblock %}
    </main>

    {% block footer %}{% include 'footer.html' %}{% endblock %}
</body>
</html>
