<footer id="footer">
    <div class="center black padding-64">
        <a href="{% url 'main:index' %}" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>To the top</a>
        <div class="xlarge section">
        <!--<i class="fa fa-facebook-official hover-opacity"></i>-->
        <a href="https://www.instagram.com/potterybymarnie/" class="fa fa-instagram hover-opacity"></a>
        <!--<i class="fa fa-snapchat hover-opacity"></i>-->
        <!--<i class="fa fa-pinterest-p hover-opacity"></i>-->
        <!--<i class="fa fa-twitter hover-opacity"></i>-->
        <!--<i class="fa fa-linkedin hover-opacity"></i>--> 
        </div>
        <a href="{% url 'admin:index' %}" class="hover-text-deep-orange">Admin Login</a>
        <p style="font-size: xx-small">Copyright© 2024-2025 {{ SITE_NAME }}. All rights reserved.</p>
    </div>
</footer>  