<footer id="footer">
    <div class="center black padding-64">
        <a href="{% url 'main:index' %}" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>To the top</a>
        <div class="xlarge section">
            <a href="https://www.instagram.com/potterybymarnie/" class="fa fa-instagram hover-opacity"></a>
            <a href="{{ shopify_app_url }}" class="fa fa-shopify hover-opacity"></a>
        </div>
        <a href="{% url 'admin:index' %}" class="hover-text-deep-orange">Admin Login</a>
        <p style="font-size: xx-small">Copyright © 2024-2025 {{ SITE_NAME }}. All rights reserved.</p>
    </div>
</footer>  