{% load static %}

<header id="header">
    <!-- Navbar (sit on top) -->
    <div class="top">
        <div class="bar" id="myNavbar">
          <a class="bar-item button hover-black hide-medium hide-large right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
          </a>
          <a href="{% url 'main:index' %}" class="bar-item button"><i class="fa-solid fa-house"></i> HOME</a>
          <a href="{% url 'gallery:index' %}" class="bar-item button hide-small"><i class="fa fa-th"></i> GALLERY</a>
          <a href="{{ storefront_url }}" class="bar-item button hide-small"><i class="fa-solid fa-shop"></i> SHOP</a>
          <!--<a href="{% url 'admin:index' %}" style="float: right; background: #ffffff; opacity: 0.5" class="bar-item button" onclick="toggleFunction()">Admin Site</a>-->
          <!--<a href="#" class="bar-item button hide-small right hover-red"><i class="fa fa-search"></i></a>-->
        </div> x
    
      <!-- Navbar on small screen   s -->
        <div id="navDemo" class="bar-block white hide hide-large hide-medium">
            <a href="{% url 'gallery:index' %}" class="bar-item button" onclick="toggleFunction()">GALLERY</a>
            <a href="{{ storefront_url }}" class="bar-item button" onclick="toggleFunction()"><i class="fa-solid fa-shop"></i> SHOP</a>
        </div>
    
        <script>
        // Used to toggle the menu on small screens when clicking on the menu button
            function toggleFunction() {
                let x = document.getElementById("navDemo");
                if (x.className.indexOf("show") === -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script>
    </div>
</header>